
.Holder
{
padding-top: 4rem;
    padding-bottom: 4rem;
    padding-left: 4rem;
    padding-right: 4rem;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    
}
.card-container
{
    display: flex;
    flex-direction: column;
    width: 12rem;
}
.card-container:hover
{
    cursor: pointer;
}
.card-image
{
 width:12rem;
 height:5rem;
}

.text-1
{
    font-size: 0.9rem;
    padding-top: 0.7rem;
    text-align: center;
    font-weight: 800;
}
.text-2
{
    font-size: 0.9rem;
    padding-top: 0.7rem;
}
.icon
{
    font-size: 1.5rem;

    color:#FFA441 ;
}
.iconContainer
{
    padding-top:0.7rem;
}
.container2{
    display:flex;
    flex-direction:row;
    
}